# **librerias Python**

En Python, una biblioteca (o librería) es un conjunto de módulos que proporcionan funcionalidades adicionales al lenguaje Python. Las bibliotecas se utilizan para extender las capacidades de Python más allá de las funciones incorporadas en el lenguaje.

Librerias Populares:

* **Pandas:** Biblioteca para la manipulación y análisis de datos que proporciona estructuras de datos como DataFrames y Series, que facilitan el trabajo con datos estructurados.
  https://pandas.pydata.org/docs/user_guide/index.html#user-guide
* **Numpy:** Biblioteca de Python para realizar operaciones matemáticas y de álgebra lineal con arreglos multidimensionales y funciones matriciales.

In [27]:
import pandas as pd # con alias
import numpy as np
import os
import warnings
warnings.filterwarnings("ignore",category=FutureWarning)

In [4]:
# Metodos para instalar las librerias si no existen en anaconda
#!pip install pandas
#!conda install pandas

# **Series de Pandas**

En Pandas, una serie es un objeto unidimensional que se utiliza para almacenar datos etiquetados. Las series son similares a las listas o arrays de NumPy, pero tienen la capacidad adicional de asignar etiquetas a los datos, lo que permite un acceso más rápido y fácil a los datos almacenados.

In [8]:
ListaEdad = [25,35,56,18]
ListaEdad

[25, 35, 56, 18]

In [9]:
## Podemos crearlas apartir de una lista

SerieEdad=pd.Series(ListaEdad)
SerieEdad

0    25
1    35
2    56
3    18
dtype: int64

In [11]:
ListaEdad.insert(3,69)
ListaEdad

[25, 35, 56, 69, 69, 18]

In [13]:
## Acceder a los datos de la serie
SerieEdad[0]

25

In [18]:
SerieEdad[3]

18

In [20]:
## Crear una serie a partir de un diccionario
Edad_Diccionarios={"Sara":25,"Fabian":35,"Ricardo":42}
Edad_Diccionarios["Sara"]

25

In [22]:
SerieDiccionarioEdad=pd.Series(Edad_Diccionarios)
SerieDiccionarioEdad

Sara       25
Fabian     35
Ricardo    42
dtype: int64

In [24]:
SerieDiccionarioEdad["Sara"]

25

In [29]:
## Agregar un dato nuevo a la serie
SerieDiccionarioEdad=SerieDiccionarioEdad.append(pd.Series(50,index=["Oscar"]))
SerieDiccionarioEdad

Sara       25
Fabian     35
Ricardo    42
Oscar      50
Oscar      50
Oscar      50
Oscar      50
dtype: int64

# **DataFrame en Python (Tablas filas y columnas)**
En Python, un DataFrame es una estructura de datos bidimensional, similar a una hoja de cálculo o una tabla de base de datos, que se utiliza para almacenar y manipular datos. Los DataFrames se utilizan comúnmente en el análisis de datos y la ciencia de datos, ya que permiten organizar y manipular grandes cantidades de datos de manera eficiente.

In [33]:
## Crearlos desde Listas
Nombres=["Ana","Pedro","Sara","Ricardo","Julia","Sebastian","maria"]
Edad=[25,35,46,52,19,21,18]
Salario=[250000,50000000,8000000,8500000,15000000,35000000,60000000]
Cargo=["Aprediz","Analista Financiero","Desarrollador","lider Técnico","senador","Manager TIC"]
Producto=["TC Estudiantil","CDT","TC ORO","TC PREMIUM","Libranza","Hipoteca"]
len(Nombres)
Nombres

['Ana', 'Pedro', 'Sara', 'Ricardo', 'Julia', 'Sebastian', 'maria']

In [35]:
Edad

[25, 35, 46, 52, 19, 21, 18]

In [37]:
## Mapeamos las combinaciones con el comando zip
Clientes=list(zip(Nombres,Edad,Salario,Cargo,Producto))
Clientes

[('Ana', 25, 250000, 'Aprediz', 'TC Estudiantil'),
 ('Pedro', 35, 50000000, 'Analista Financiero', 'CDT'),
 ('Sara', 46, 8000000, 'Desarrollador', 'TC ORO'),
 ('Ricardo', 52, 8500000, 'lider Técnico', 'TC PREMIUM'),
 ('Julia', 19, 15000000, 'senador', 'Libranza'),
 ('Sebastian', 21, 35000000, 'Manager TIC', 'Hipoteca')]

In [43]:
## Aplicar la funcion pd.DataFrame para convertir finalmente en uan tabla
BaseClientes=pd.DataFrame(Clientes,columns=["Nombre","Edad","Salario","Cargo","Prodcuto"])

In [44]:
BaseClientes

      Nombre  Edad   Salario                Cargo        Prodcuto
0        Ana    25    250000              Aprediz  TC Estudiantil
1      Pedro    35  50000000  Analista Financiero             CDT
2       Sara    46   8000000        Desarrollador          TC ORO
3    Ricardo    52   8500000        lider Técnico      TC PREMIUM
4      Julia    19  15000000              senador        Libranza
5  Sebastian    21  35000000          Manager TIC        Hipoteca

In [46]:
##Exportar o Guardar
BaseClientes.to_excel("./Resultados/Clientes.xlsx",index=False)